/*     사이트 기본 폰트     */
/*     font import    */
@import url('https://fonts.cdnfonts.com/css/happy-time-2');


/*     각인체     */
/* cafe24 고운밤 */
@font-face {
  font-family: 'gb-engraving-t1';
  /* 수정 */
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* cafe24 SyongSyong */
@font-face {
  font-family: 'gb-engraving-t2';
  src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Syongsyong.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* sangsangShin - 신과장 */
@font-face {
  font-family: 'gb-engraving-t3';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/SangSangShin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 서울남산체-L */
@font-face {
  font-family: 'gb-engraving-t4';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* ENG */
/* JaneAusten */
@font-face {
  font-family: 'gb-engraving-t5';
  src: url('Font/JaneAusten.woff2') format('woff2'),
    url('Font/JaneAusten.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* MongolianBaiti */
@font-face {
  font-family: 'gb-engraving-t6';
  src: url('Font/MongolianBaiti.woff2') format('woff2'),
    url('Font/MongolianBaiti.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* happytime */
@font-face {
  font-family: 'gb-engraving-t7';
  src: url("https://db.onlinewebfonts.com/t/6980f8437557d0e802cd522bd5df4792.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/6980f8437557d0e802cd522bd5df4792.woff")format("woff"),
    url('Font/HappyTime.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* 안창호체 */
@font-face {
  font-family: 'gb-engraving-t8';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/KCC-Ahnchangho.woff2') format('woff2');
  font-weight: normal;
  /* font-style: italic; */
  font-display: swap;
}